.btn,
.btn-large,
.btn-small,
.btn-flat {
    font-family: "Rubik";
    font-size: 16;
    font-weight: 600;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.row {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    margin-bottom: 0;
    color: white;
    padding: 1rem 1rem;
}

.navbar-collapse {
    padding: 0;
}


.navbar-light,
.navbar-link {
    padding-top: 8px;
    padding-bottom: 8px;
   
}

.nav-item a:hover {
    border-bottom: 3px solid white;
}

.nav-item a.active {
    border-bottom: 3px solid white;
}
.navbar-nav{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:  #1E88E5;
    width:100%;
}
.navbar-toggler{
    padding:0px;
}
.nav-item{
    width:100%;
}


.container-fluid {
    margin-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
}

.card-panel {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 1rem;
    height: auto;
}

.brand-logo{
    font-family: Capriola;
}
.section {
    height: auto ;
    width:100%;
}

.special-panel {
    padding: auto;
}
.nav-wrapper{
	float:left;
	padding-right: 15px;
	padding-left:15px;
}

.nav-wrapper a:hover{
    border-bottom: 3px solid white;
}

.nav-wrapper a.active{
    border-bottom: 3px solid white;
}

.mobiletit{
    margin-top:-4%;
    font-family: Capriola;
    font-size:20px;
    padding-left:20px;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.java {width: 80%; background-color: rgb(0,115,150);}
.html {width: 80%; background-color: #e34f26;}
.css {width: 70%; background-color: rgb(16,72,127);}
.js {width: 55%; background-color: #f7df1e;}
.python {width: 30%; background-color: #646464;}

h3 {
    font-family: Capriola;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h4 {
font-family: Capriola;
    margin-top: 0.5rem;
}
button{
    color:white;
}
p {
    line-height: auto !important;
}

a {
    text-decoration-style: : none;
    text-decoration: none;
}

a:hover {
    text-decoration-style: : none;
    text-decoration: none;
}

#right-content {
    padding: 0;
}

#left-content {
    padding: 0;
}

#Ph {
    background-color: #1E88E5;
}

#Sk {
    background-color: #1E88E5;
}

#footer {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
}
#dropdown{
	padding:10px;
	width:15%;
}
.progresshelper{
	background-color: #ddd;
}
